@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #FFFFFF;
    overflow-x: hidden;
}

#navbar_section {
    background: #232536;
    background: #232536;
}

.navbar_parent {
    display: flex;
    align-items: center;
    box-shadow: 0px 20px 28px -30px rgba(255, 255, 255, 0.35);
}

.logo {
    padding-bottom: 10px;
}

.navbar {
    padding-top: 18px;
}

.align-items {
    display: flex;
    margin-left: 200px;
}

.list-item {
    list-style: none;
    padding-right: 30px;
}

.link {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

.navbar-left {
    display: flex;
    padding-left: 30px;
}

.navbar-left h5 {
    font-weight: 500;
    font-size: 16px;
    padding-right: 20px;
    color: #FFD3AF;
}

@media (max-width: 767px) {
    .navbar_parent {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        display: none;
    }
    .navbar-left {
        display: flex;
    }
}


/* Hero section */

#hero_section {
    background: #232536;
}

.hero_p-part {
    position: relative;
}

.hero_p-part .squere_img {
    position: absolute;
    top: 150px;
}

.hero_p-part h1 {
    margin-top: 200px;
    font-size: 50px;
    font-weight: 600;
}

.hero_p-part p {
    padding-top: 25px;
    font-size: 16px;
}

.hero_link {
    position: relative;
    border: 1px solid #444CFC;
    background-color: #444CFC;
    padding: 20px 30px;
}

.hero_link img {
    position: absolute;
    top: 0;
    left: 0;
}

.hero_link a {
    color: #fff;
    text-decoration: none;
}

.img {
    display: flex;
}

.img img {
    position: absolute;
    left: 170px;
    top: 25px;
}

.hero_link-img {
    margin-top: 100px;
    margin-bottom: 100px;
}

@media (max-width: 767px) {
    .hero_p-part p {
        font-size: 16px;
    }
    .hero_link {
        width: 250px;
    }
    .hero_link-img img {
        width: 370px;
        margin-bottom: 50px;
    }
    .hero_footer-p h5 {
        text-align: center;
    }
    .hero_footer-p h6 {
        text-align: center;
    }
}

.hero_footer {
    align-items: center;
}

.paragrph {
    align-items: center;
    padding-top: 30px;
}

.hero_footer-p h5 {
    font-size: 16px;
}

.hero_footer-p h6 {
    font-size: 14px;
}

.logos {
    align-items: center;
}


/* End of Hero section */


/* Hero section past */

.hero_section-past {
    background: #E5E5E5;
}

.section-1 {
    margin-top: 50px;
}

.section-1 h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #000000;
}

.section-1 h1 {
    font-weight: 600;
    line-height: 58px;
    color: #232536;
}

.section-2 {
    margin-top: 80px;
}

.section-2 h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #232536;
}

.section-2 p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #5D5F6D;
}

@media (max-width: 767px) {
    .section-1 h4 {
        text-align: center;
    }
    .section-1 h1 {
        text-align: center;
    }
    .section-2 h1 {
        text-align: center;
    }
    .section-2 p {
        text-align: center;
    }
}

.three_img {
    margin-top: 50px;
    margin-bottom: 50px;
}

.three_img img {
    margin-right: 10px;
}

@media (max-width: 767px) {
    .three_img {
        flex-direction: column;
    }
    .three_img img {
        margin-left: 10px;
        margin-bottom: 30px;
    }
}


/* End of Hero section past */


/*  Expertise imges section */

#expertise_section {
    color: #232536;
}

.flexbox {
    align-items: center;
}

#expertise_section p {
    margin-left: 0px;
}

.three_heading {
    display: flex;
}

.three_heading-2,
.three_heading-3,
.three_heading-4 {
    margin-left: 50px;
}

.expertise_link a {
    text-decoration: none;
    padding-left: 200px;
}

@media (max-width: 767px) {
    .three_heading {
        flex-direction: column;
    }
    .three_heading-1,
    .three_heading-2,
    .three_heading-3,
    .three_heading-4 {
        margin-left: 0px;
        text-align: center;
    }
    .expertise_link a {
        padding-left: 120px;
    }
}


/* End of Expertise imges section */


/* Content section */

#content_section {
    background: #ECF8F9;
}

.content_section-left {
    color: #232536;
}

.content_section-left h4 {
    margin-top: 120px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
}

.content_section-left h1 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
}

.content_section-left p {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #5D5F6D;
}

.content_section-right {
    color: #232536;
}

.content_section-right-box-1 {
    background: #fff;
    display: flex;
    margin-top: 50px;
}

.content_section-right p {
    padding-bottom: 20px;
}

.content_section-right-box-2,
.content_section-right-box-3,
.content_section-right-box-4 {
    background: #fff;
    display: flex;
    margin-top: 50px;
}

.content_section-right-box-1 img,
.content_section-right-box-2 img,
.content_section-right-box-3 img,
.content_section-right-box-4 img {
    margin: 30px;
}

.content_section-right-box-1 h4,
.content_section-right-box-2 h4,
.content_section-right-box-3 h4,
.content_section-right-box-4 h4 {
    padding-top: 30px;
}

.content_section-right-box-2 h4,
.content_section-right-box-3 h4,
.content_section-right-box-4 h4,
.content_section-right-box-1 h4 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.line_png img {
    margin-top: -20px;
    width: 545px;
    height: 8px;
}

.content_section-right p {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #5D5F6D;
}

@media (max-width: 767px) {
    #content_section {
        flex-direction: column;
    }
    .content_section-left h4 {
        text-align: center;
    }
    .content_section-left h1 {
        font-size: 30px;
        text-align: center;
    }
    .content_section-left p {
        text-align: center;
        font-size: 16px;
    }
    .line_png img {
        width: 370px;
    }
}


/* End of Content section */


/* Service section */

#service_section {
    background: #FFE6D2;
}

.service_top h6 {
    margin-top: 100px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
}

.service_top h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
    margin-bottom: 40px;
}

.img-2 {
    margin-bottom: 50px;
}

.three_box {
    color: #000;
    margin-bottom: 50px;
}

.three_box-1,
.three_box-2,
.three_box-3 {
    padding: 30px 30px;
    background: #fff;
    margin-left: 20px;
    width: 350px;
}

.three_box-1 img,
.three_box-2 img,
.three_box-3 img {
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .three_box-1,
    .three_box-2,
    .three_box-3 {
        margin-bottom: 20px;
    }
    #service_section {
        background: #FFE6D2;
    }
    .service_top h6 {
        text-align: center;
    }
    .service_top h1 {
        text-align: center;
        font-size: 30px;
    }
    .img-2 {
        margin-bottom: 50px;
    }
}


/* End of Service section */


/* Process section */

#process_section {
    background: #E5E5E5;
    color: #232536;
}

.process_top h5 {
    margin-top: 90px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #000000;
    opacity: 0.87;
}

.process_top h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    color: #232536;
}

.process_top p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.87;
}

.bijr {
    margin-top: 100px;
    padding-left: 150px;
}

@media (max-width: 767px) {
    .process_top h5 {
        text-align: center;
    }
    .process_top h1 {
        text-align: center;
        font-size: 30px;
    }
    .process_top p {
        text-align: center;
    }
    .bijr {
        display: none;
    }
}


/* End of Process section */


/* Six section */

#six_section {
    background: #E5E5E5;
    padding-top: 50px;
    padding-bottom: 70px;
}

.six_sections-part {
    color: #000;
}

.section-p h2 {
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.section-p p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.6;
}

.six_section-part-cent-1 {
    margin: 10px 0;
    margin-left: 20px;
    width: 350px;
    display: flex;
    background-color: #fff;
    position: relative;
}

.six_sections-part {
    color: #000;
}

.section-p h2 {
    padding-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.section-p p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #232536;
    opacity: 0.6;
}

.six_section-part-cent-2 {
    margin: 10px 0;
    margin-left: 20px;
    width: 350px;
    display: flex;
    background-color: #fff;
    position: relative;
}

.section-img {
    margin: 15px;
}

.six_section-part-cent-2 {
    display: flex;
}

.six-img {
    position: absolute;
    top: 10px;
    left: 310px;
}


/* End of Six section */


/* Part section */

#part_section {
    background: #F9F9FF;
    color: #232536;
}

.part {
    margin-top: 100px;
}

.part h1 {
    margin: 16px 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
}

.part h5 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.part p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.87;
    margin-bottom: 24px;
}

.part_img img {
    margin-right: 15px;
    margin-bottom: 20px;
}

.part h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 100px;
}

.part-left {
    background-color: #fff;
    height: 350px;
    width: 550px;
    margin-top: 100px;
    position: relative;
}

.part-left .quote {
    position: absolute;
    left: 500px;
    top: -20px;
}

.part-left img {
    position: absolute;
}

.part-left h3 {
    margin-top: 30px;
    padding-left: 30px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
    opacity: 0.87;
}

.john-andro-img {
    padding-top: 20px;
    margin-left: 30px;
}

.john-andro h5 {
    padding-top: 20px;
    padding-left: 90px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
    opacity: 0.87;
}

.john-andro p {
    padding-left: 90px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
    opacity: 0.6;
}

.circle {
    width: 53px;
    margin-left: 800px;
    margin-top: -102px;
}

@media (max-width: 767px) {
    .part h1 {
        text-align: center;
        font-size: 38px;
    }
    .part h5 {
        text-align: center;
    }
    .part p {
        text-align: center;
    }
    .part_img {
        margin-left: 50px;
    }
    .part-left .quote {
        left: 340px;
    }
    .circle {
        margin-left: 150px;
        margin-top: 40px;
    }
}


/* End of Part section */


/* two section */

#two_section {
    background: #ECF8F9;
}

.two_section-bottom {
    margin-top: 40px;
}

.two_section-top img {
    margin-top: 100px;
}

.two_section-top h1 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #232536;
}

.two_section-bottom-top {
    background: #fff;
    margin-bottom: 80px;
}

.two_section-bottom-top {
    display: flex;
    color: #232536;
}

.two_section-bottom-top h2 {
    margin-left: 30px;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
}

.two_section-bottom-top h5 {
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
    opacity: 0.6;
}

.read_more {
    margin-top: 20px;
    margin-left: 30px;
}

.read_more a {
    text-decoration: none;
}

.two_section-bottom-past {
    display: flex;
    background: #fff;
    margin-bottom: 80px;
}

.two_section-bottom-p2 h5 {
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #232536;
    opacity: 0.6;
}

.two_section-bottom-p2 h2 {
    margin-left: 30px;
    font-size: 24px;
    line-height: 36px;
    color: #232536;
}

@media (max-width: 767px) {
    .two_section-top h1 {
        text-align: center;
        font-size: 38px;
    }
    .two_section-bottom-top h2 {
        margin-left: 30px;
        font-size: 24px;
        line-height: 36px;
        color: #232536;
    }
    .two_section-bottom-top {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .two_section-bottom-past {
        flex-direction: column;
    }
}


/* End of two section */


/* Suscribe section */

#subscribe_section {
    background: #fff;
}

.flexbox2 {
    background: #666DFF;
    margin-top: 100px;
    margin-bottom: 100px;
}

.subscribe-left h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
}

.subscribe-left h1 {
    font-weight: 600;
    font-size: 28px;
    line-height: 54px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

.full-subcribe img {
    width: 88px;
    height: 80px;
}

.subscribe-right input {
    outline: none;
    padding: 29px 20px;
    margin-top: 110px;
    width: 400px;
    height: 50px;
}

.shape {
    position: relative;
}

.shape img {
    position: absolute;
    right: 0;
    top: -350px;
}

@media (max-width: 767px) {
    #subscribe_section {
        background: #fff;
    }
    .flexbox2 {
        background: #666DFF;
        margin-top: 100px;
    }
    .subscribe-left h5 {
        padding-left: 30px;
    }
    .subscribe-left h1 {
        padding-left: 30px;
    }
    .subscribe-right input {
        margin-top: 10px;
        margin-left: 20px;
        width: 300px;
        margin-bottom: 30px;
    }
    .shape img {
        height: 480px;
        top: -580px;
    }
}


/* End of Suscribe section */


/* Footer top */

#footer_top {
    color: #000;
}

.footer_top-img {
    margin-bottom: 32px;
}

.footer_top-paragrphs h1 {
    font-weight: 600;
    font-size: 43px;
    line-height: 58px;
    color: #232536;
}

.footer_top-paragrphs img {
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer_top-paragrphs h3 {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #232536;
}

.horizantal_line {
    width: 268px;
    height: 0px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.footer_right-service {
    display: flex;
}

.footer_top-paragrphs h4 {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #232536;
    margin-bottom: 60px;
}

.footer_right-1 h6 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
}

.footer_right-2 h6 {
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #232536;
}

.footer_right-2 p {
    padding-left: 50px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #232536;
}

.footer_right-3 h6 {
    margin-top: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    color: #232536;
}

.footer_right-3 p {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #232536;
}

.contact_us {
    display: flex;
    margin-top: 350px;
    align-items: center;
}

.contact_us h5 {
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #232536;
}


/* End of Footer top */


/* Footer section */

#footer_footer {
    background: #FFE6D2;
    color: #000;
}

.footer_left {
    margin: 30px 0;
}

.copy-right {
    margin-left: 40px;
}

.footer_right img {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media (max-width: 767px) {
    .contact_us {
        display: none;
    }
    .footer_right-service {
        padding-left: 0px;
    }
    .footer_right-2 {
        padding-left: 0px;
    }
    .footer_right-3 {
        padding-left: 0px;
    }
}

.footer_right-service {
    padding-left: 20px;
}

.footer_right-2 {
    padding-left: 0px;
}

.footer_right-3 {
    padding-left: 20px;
}


/* End of Footer section */